{% extends 'base.html' %}

{% block content %}
    <h1>This is the {% block title %}Notes Page{% endblock %}!</h1>
    <hr/>
    <div class="container text">
        <div class="row align-items-start">
            <div class="col-md-4">

                {% include 'messages.html' %}
                
                <form class="row g-3" method="POST">
                    <div class="col-12">
                        <label for="title" class="form-label">Title</label>
                        <input class="form-control" id="title" name="title"/>
                    </div>
                    <div class="col-12">
                        <label for="description" class="form-label">description</label>
                        <textarea class="form-control" id="description" name="description" rows="4"></textarea>
                    </div>
                    <div class="col-12" align="center">
                        <button type="submit" class="btn btn-primary">Add Note</button>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                {% include 'todo_table.html' %}
            </div>
        </div>
    </div>
     
{% endblock %}