{% extends 'base.html' %}

{% block content %}
   
<div class="row align-items-start justify-content-center">
  <h1 align="center">This is the {% block title %}Login Page{% endblock %}!</h1>
  <div class="col-md-4 center card">
    <div class="card-body">
      <form method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
    
    {% include 'messages.html' %}

  </div>
</div>

{% endblock %}