{% extends 'base.html' %}

{% block content %}
  <div class="row align-items-start justify-content-center">
    <h1 align="center">This is the {% block title %}SignUp Page{% endblock %}!</h1>
    <div class="col-md-8 center card">
      <div class="card-body">
        <form method="POST">
          <div class="mb-3">
            <label for="Email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="mb-3">
              <label for="Name" class="form-label">Frist Name</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
          <div class="mb-3">
            <label for="Password1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password1" name="password1">
          </div>
          <div class="mb-3">
              <label for="Password2" class="form-label">Password (Confirm)</label>
              <input type="password" class="form-control" id="password2" name="password2">
            </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      {% include 'messages.html' %}

    </div>
  </div>

{% endblock %}